.monster-modal {
    min-width: 310px;
    max-width: 800px;
}

.monster-statblock {
    justify-content: space-between;
}

.monster-statblock div p {
    margin-bottom: 0;
    margin-top: 8px;
}

.monster-statblock div p:nth-child(2) {
    margin-bottom: 8px;
}

.init-tracker-item {
    min-width: 310px;
}

.init-field {
    max-width: 50px;
}

.add-npc-form {
    margin: 30px;
}
